body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(208, 166, 248);
}

form {
    background-color: rgb(133, 214, 224);
    width: 30%;
}

h1, h2 , h3 {
    color: whitesmoke;
}

#main-header{
    text-align: center;
}
